html,
body {
    margin:0;
    width:100%;
    height: 100%;
}

body {
background: #5600aa;
background-image: url("zenbg-1.png"), url("zenbg-2.png");
background-repeat: repeat-x, repeat;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content h3{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0.5em;
    padding: 1em;
    letter-spacing: 3px;
}

.input-item{
    padding: 1em;
}

input, select{
    border:none;
    border-radius: 10px;
    padding: 1em;
}

input[type="submit"]{
    background-color: black;
    color:white;
    padding: 1.2em;   
}

input[type="submit"]:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

input[type="submit"]:active{
    box-shadow: 0 10px #424242;
    transform: translate(5px);
}

#inscriere{
    margin: 1em;
}

@media screen and (min-width: 768px){
    .container{
        background: rgba(30, 33, 33, 0.5);
        width: 35%;
        text-align: center;
        border-radius: 30px;
        padding: 2.2em;
    }
}